*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.report-case h1{
    font-weight: 700;
}
.input-case{
    width: 60% ;
    height: 60px;
    border:3px solid #274690;
    padding: 0 60px;
}
.btn-case{
background-color: #274690;
box-shadow: 0px 4px 4px rgba(39, 70, 144, 0.25);
border-radius: 5px;
padding: 0 60px;
}
@media(max-width:768px) {
   
   .input-case{
        margin-bottom: 10px;
        padding: 0 80px;
        width: 50%;
    }
    .btn-case{
    height: 60px;
    padding: 10px 60px;
    }
}
@media (max-width:426px){
    .h6{
        width: 100% !important;
    }
    .input-case{
        width: 100%;
    }  
}